.accordion-header .accordion-button:after {
    display: none;
}
.accordion-header .accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #6585A0;
}